.button-v2 {
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1) 50ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  height: 38px;
  padding: 4px 16px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  outline: 0 none;
  text-transform: inherit;
  font-weight: normal;
  padding: 4px 32px;
  text-transform: uppercase; }
  .button-v2:focus, .button-v2:active, .button-v2:hover, .button-v2:visited {
    outline: 0 none; }
  .button-v2.button-v2--disabled {
    pointer-events: none; }
  .button-v2.button-v2--wide {
    width: 100%; }
  .button-v2.button-v2--thin {
    padding: 0 8px; }
  .button-v2.button-v2--thiner {
    padding: 0 11px; }
  .button-v2.button-v2--thin .icon,
  .button-v2.button-v2--thiner .icon {
    margin: 0; }
  .button-v2.button-v2--small {
    height: 30px; }
  .button-v2.button-v2--with-icon-left > .icon-wrapper + span {
    margin-left: 8px; }
  .button-v2.button-v2--with-icon-right > span + .icon-wrapper {
    margin-left: 8px;
    margin-right: 0; }
  .button-v2.button-v2--primary {
    border: 1px solid #2ec09a;
    background-color: #2ec09a;
    color: white; }
    .button-v2.button-v2--primary:hover {
      background-color: #31cca3; }
    .button-v2.button-v2--primary:active, .button-v2.button-v2--primary:visited {
      background-color: #28a684; }
    .button-v2.button-v2--primary.button-v2--disabled {
      color: #ababab;
      background-color: #eae8e8;
      border-color: #eae8e8; }
  .button-v2.button-v2--primary--inverted {
    border: 1px solid #2ec09a;
    background-color: white;
    color: #2ec09a; }
    .button-v2.button-v2--primary--inverted:hover {
      background-color: #31cca3;
      color: white; }
    .button-v2.button-v2--primary--inverted:active, .button-v2.button-v2--primary--inverted:visited {
      background-color: #28a684;
      color: white; }
    .button-v2.button-v2--primary--inverted.button-v2--disabled {
      color: #ababab;
      background-color: white;
      border-color: #eae8e8; }
  .button-v2.button-v2--secondary {
    border: 1px solid #eae8e8;
    background-color: white;
    color: #4693e0; }
    .button-v2.button-v2--secondary:hover {
      border-color: #4693e0; }
    .button-v2.button-v2--secondary:active, .button-v2.button-v2--secondary:visited {
      background-color: #4693e0;
      color: white; }
    .button-v2.button-v2--secondary.button-v2--disabled {
      color: #ababab;
      background-color: #eae8e8;
      border-color: #eae8e8; }
  .button-v2.button-v2--secondary--inverted {
    border: 1px solid white;
    background-color: #4693e0;
    color: white; }
    .button-v2.button-v2--secondary--inverted:hover {
      border-color: white;
      background-color: white;
      color: #4693e0; }
    .button-v2.button-v2--secondary--inverted:active, .button-v2.button-v2--secondary--inverted:visited {
      background-color: #e1f0ff;
      color: #4693e0; }
    .button-v2.button-v2--secondary--inverted.button-v2--disabled {
      color: #47abf7;
      background-color: #4693e0;
      border-color: #47abf7; }
  .button-v2.button-v2--dangerous {
    border: 1px solid #ff344f;
    background: #ff344f;
    color: #ffffff; }
    .button-v2.button-v2--dangerous:hover {
      border-color: #e62e46;
      background: #e62e46;
      color: #ffffff; }
    .button-v2.button-v2--dangerous:active, .button-v2.button-v2--dangerous:visited {
      border-color: #ff566d;
      background: #ff566d;
      color: #ffffff; }
    .button-v2.button-v2--dangerous.button-v2--disabled {
      color: #cb8a8a;
      background-color: #fde2e6;
      border-color: #fde2e6; }
  .button-v2.button-v2--dangerous--inverted {
    border: 1px solid #ff344f;
    background: #ffffff;
    color: #ff344f; }
    .button-v2.button-v2--dangerous--inverted:hover {
      border-color: #e62e46;
      background: #e62e46;
      color: #ffffff; }
    .button-v2.button-v2--dangerous--inverted:active, .button-v2.button-v2--dangerous--inverted:visited {
      border-color: #ff566d;
      background: #ff566d;
      color: #ffffff; }
    .button-v2.button-v2--dangerous--inverted.button-v2--disabled {
      color: #ababab;
      background-color: white;
      border-color: #eae8e8; }
  .button-v2.button-v2--neutral {
    border: 1px solid #9aacbd;
    background: #ffffff;
    color: #9aacbd; }
    .button-v2.button-v2--neutral:hover, .button-v2.button-v2--neutral:active, .button-v2.button-v2--neutral:visited {
      border-color: #768292;
      background: #768292;
      color: #ffffff; }
    .button-v2.button-v2--neutral.button-v2--disabled {
      color: #ababab;
      background-color: #eae8e8;
      border-color: #eae8e8; }
  .button-v2.button-v2--neutral--inverted {
    border: 1px solid #9aacbd;
    background: #9aacbd;
    color: #ffffff; }
    .button-v2.button-v2--neutral--inverted:hover, .button-v2.button-v2--neutral--inverted:active, .button-v2.button-v2--neutral--inverted:visited {
      border-color: #768292;
      background: #768292;
      color: #ffffff; }
    .button-v2.button-v2--neutral--inverted.button-v2--disabled {
      color: #ababab;
      background-color: #eae8e8;
      border-color: #eae8e8; }
  .button-v2.button-v2--white {
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff; }
    .button-v2.button-v2--white:hover {
      border-color: #ffffff;
      background: #ffffff;
      color: #3f5b78; }
    .button-v2.button-v2--white:active, .button-v2.button-v2--white:visited {
      border-color: #ffffff;
      background: #ffffff;
      color: #3f5b78; }
    .button-v2.button-v2--white.button-v2--disabled {
      color: #ababab;
      background-color: transparent;
      border-color: #eae8e8; }
  .button-v2.button-v2--transparent {
    background: transparent; }

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }


/*# sourceMappingURL=1.css.map*/